<section>
  <div class="hint text--center">
    {{localize "ED.Dialogs.Configs.Constraints.hint"}}
  </div>

  <div class="flexrow">
    {{#each availableConstraints}}
      <button
        type="button"
        class=""
        data-action="addConstraint"
        data-constraint-type="{{this.TYPE}}"
        data-key-path="{{@root.keyPath}}"
      >
        <i class="fa-thin {{lookup (lookup ../config.LEGEND.constraints this.TYPE) "icon"}}" inert></i>
        <span>{{lookup (lookup ../config.LEGEND.constraints this.TYPE) "label"}}</span>
      </button>
    {{/each}}
  </div>

  <hr>

  <div class="scrollable">
    {{#each constraints as | constraint |}}
      <fieldset>
        <legend>
          <button
            type="button"
            class="item-control inline-button"
            data-tooltip="{{localize "ED.ToolTips.deleteConstraint"}}"
            data-action="deleteConstraint"
            data-key-path="{{@root.keyPath}}"
            data-constraint-type="{{this.type}}"
          >
            <i class="fas {{@root.config.icons.delete}}" inert></i>
            <span>{{lookup (lookup @root.config.LEGEND.constraints this.type) "label"}}</span>
          </button>
        </legend>
        {{> "systems/ed4e/templates/form/group/general.hbs"
          dataField=this.schema
          inputTemplate=(lookup (lookup @root.config.LEGEND.constraints this.type) "inputTemplate")
          data=this
          fields=this.schema.fields
          fieldPath=(concat "system." @root.keyPath "." @key)
          config=config
        }}
      </fieldset>
    {{/each}}
  </div>
</section>