<section>
  <div class="hint text--center">
    {{localize "ED.Dialogs.Configs.SpellEnhancement.hint"}}
  </div>

  <div class="flexrow">
    {{#each availableEnhancements}}
      <button
        type="button"
        class=""
        data-action="addEnhancement"
        data-enhancement-type="{{this.TYPE}}"
        data-key-path="{{@root.keyPath}}"
      >
        <i class="fa-thin {{lookup (lookup ../config.spellEnhancements this.TYPE) "icon"}}" inert></i>
        <span>{{lookup (lookup ../config.spellEnhancements this.TYPE) "label"}}</span>
      </button>
    {{/each}}
  </div>

  <hr>

  <div class="selected-metrics scrollable">
    {{#if extraSuccess}}
      <fieldset>
        <legend>
          <button
            type="button"
            class="item-control inline-button"
            data-tooltip="{{localize "ED.ToolTips.deleteEnhancement"}}"
            data-action="deleteEnhancement"
            data-key-path="{{@root.keyPath}}"
            data-enhancement-type="{{extraSuccess.type}}"
          >
            <i class="fas {{@root.config.icons.delete}}" inert></i>
            <span>{{lookup (lookup @root.config.spellEnhancements extraSuccess.type) "label"}}</span>
          </button>
        </legend>
        {{> "systems/ed4e/templates/form/group/general.hbs"
          dataField=extraSuccess.schema
          inputTemplate=(lookup (lookup @root.config.spellEnhancements extraSuccess.type) "inputTemplate")
          data=extraSuccess
          fields=extraSuccess.schema.fields
          fieldPath="system.extraSuccess"
          config=config
        }}
      </fieldset>
    {{/if}}

    {{#each extraThreads}}
      <fieldset>
        <legend>
          <button
            type="button"
            class="item-control inline-button"
            data-tooltip="{{localize "ED.ToolTips.deleteEnhancement"}}"
            data-action="deleteEnhancement"
            data-key-path="{{@root.keyPath}}"
            data-enhancement-type="{{this.type}}"
          >
            <i class="fas {{@root.config.icons.delete}}" inert></i>
            <span>{{lookup (lookup @root.config.spellEnhancements this.type) "label"}}</span>
          </button>
        </legend>
        {{> "systems/ed4e/templates/form/group/general.hbs"
          dataField=this.schema
          inputTemplate=(lookup (lookup @root.config.spellEnhancements this.type) "inputTemplate")
          data=this
          fields=this.schema.fields
          fieldPath=(concat "system." @root.keyPath "." @key)
          config=config
        }}
      </fieldset>
    {{/each}}
  </div>
</section>