<div class="chat-flavor-header">{{{CONFIG.ED4E.ROLLS.rollTypes.threadWeaving.label}}}</div>

<div class="chat-sub-header-tags flexcol">
  {{{weavingAbilityContentAnchor}}}
  {{{ifThen spellContentAnchor spellContentAnchor truePatternContentAnchor}}}
</div>

<div class="thread-weaving-visualization">
{{#if spell}}
  <div class="chat-number-indicator threads-just-woven" data-tooltip="{{ localize "ED.ToolTips.numThreadsJustWoven" }}">
    {{numberFormat threads.woven.now sign=true}}
  </div>

  <div class="chat-number-indicator threads-woven-total" data-tooltip="{{localize 'ED.ToolTips.numThreadsWovenTotal'}}">
    {{threads.woven.total}} / {{threads.totalRequired}}
  </div>
</div>

<div class="extra-threads-list">
  <ul class="unlist" data-tooltip="{{ localize "ED.ToolTips.extraThreads" }}">
    {{#each spell.system.threads.extra as |thread|}}
      <li>
        {{{thread.summaryString}}}
      </li>
    {{/each}}
  </ul>
</div>

<div class="message-buttons flexrow">
  {{#if doneWeaving}}
    {{> "systems/ed4e/templates/chat/chat-buttons/cast-spell.hbs"}}
  {{else}}
    {{> "systems/ed4e/templates/chat/chat-buttons/continue-weaving.hbs"}}
  {{/if}}
{{/if}}
</div>

<!-- Rule of One Check -->
{{#if (eq ruleOfOne true)}}
  <div class="roll-failure">{{localize "ED.Rolls.ruleOfOne"}}</div>
{{else}}

  <!-- Modifier Lists -->
  {{#if (ne target.total 0)}}
    {{> "systems/ed4e/templates/chat/dice-partials/roll-successes.hbs"}}
  {{/if}}

  <div class="modifier-lists flexrow">
    {{> "systems/ed4e/templates/chat/dice-partials/roll-step-modifier.hbs"}}
    {{#if target.public}}
      {{> "systems/ed4e/templates/chat/dice-partials/roll-target-modifier.hbs"}}
    {{/if}}
  </div>
{{/if}}
